.header
  &_case
    background-image: url("../css/img/case_bg.jpg")
    .header__decoration-dot
      left: 63vw
.slick
  &__gallery
    margin-top: 20px
    margin-left: -15px
    margin-right: -15px
  &__img
    object-fit: cover
    width: 100%
  &__pic
    padding-left: 15px
    padding-right: 15px
  &__arrow
    display: flex
    align-items: center
    position: absolute
    top: 0
    padding-left: 25px
    padding-right: 25px
    height: 100%
    z-index: 100500
    text-decoration: none
    &_left
      left: -52px
    &_right
      right: -52px
    &:hover .slick__icon
      color: $red
      transition: 0.3s ease-in-out
  &__icon
    display: block
    font-size: 3.1em
    color: $grey-text
    cursor: pointer
    border: none
    outline: none
    background-color: transparent

@media screen and (max-width: 720px)
  .header
    &_case
      background-image: url("../css/img/case-bg-m.jpg")
  .slick
    &__gallery
      margin: 0
    &__pic
      padding: 0 0 60px



