.header_clients
  background-image: url("../css/img/clients_bg.jpg")
  .header__decoration-dot
    left: 66vw
.client
  &__profiles
    box-sizing: border-box
  &__logo
    height: 130px
    cursor: pointer
    &_mobile
      display: none
  &__img
    width: 65%
    height: 65%
    -o-object-fit: contain
    object-fit: contain
  &__profile
    display: none
  &__header
    font-size: 3.9em
    color: #2e003e
    margin-top: 0
  &__text
    color: $grey-text
    font-size: 21px
    line-height: 28px
    text-align: left
.scroll-pane
  width: 100%
  max-height: 390px
  overflow: auto
  &:active, &:focus
    outline: none
  &:hover
    .jspVerticalBar
      display: block


/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
  overflow: hidden
  position: relative

.jspPane
  position: absolute

.jspVerticalBar
  position: absolute
  display: none
  top: 0
  right: 20px
  width: 5px
  height: 100%

.jspHorizontalBar

  display: none
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: 16px
  background: red

.jspCap
  display: none

.jspHorizontalBar .jspCap
  float: left

.jspTrack
  background: #dde
  position: relative


.jspDrag
  background: #bbd
  position: relative
  top: 0
  left: 0
  cursor: default
  border-radius: 8px

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
  float: left
  height: 100%

.jspArrow
  background: #50506d
  text-indent: -20000px
  display: block
  cursor: pointer
  padding: 0
  margin: 0


.jspArrow.jspDisabled
  cursor: default
  background: #80808d

.jspVerticalBar .jspArrow
  height: 16px

.jspHorizontalBar .jspArrow
  width: 16px
  float: left
  height: 100%

.jspVerticalBar .jspArrow:focus
  outline: none

.jspCorner
  background: #eeeef4
  float: left
  height: 100%

@media screen and (max-width: 720px)
  .content__clients
    padding-bottom: 0
  .client
    &__logos
      display: none
    &__logo
      &_mobile
        display: block
        height: 15vh
        background-size: contain
        background-repeat: no-repeat
        background-position: center
        margin-bottom: 20px
    &__profile
      display: block
      padding: 7.639vw 7.222vw 9.027777vw
      &:nth-of-type(2n)
        background-color: $purple
        h2, p
          color: $white
    &__header
      display: none
    &__text
      font-size: 4.011vw
      line-height: 6.36vw
  .header_clients
    background-image: url("../css/img/clients-bg-m.jpg")

