.header_contacts
  background-image: url("../css/img/contacts_bg.jpg")
  .header__decoration-dot
    left: 69vw

.contact
  &__wrapper
    padding: 30px
    box-sizing: border-box
    &_flex
      display: flex
  &__image
    background-size: cover
    border-radius: 50%
    width: 96%
    margin: auto
    &:before
      content: ''
      display: block
      padding-top: 100%
  &__name
    margin: 3.47vw auto 0 auto
    text-align: center
  &__span
    font-size: 1.25vw
    font-weight: 400
    color: #fdfbfb
    text-transform: uppercase
    line-height: 2.873125vw
    text-align: left
    background-color: #eb0047
    padding: 0.625vw 0.426vw 0.28vw
    box-decoration-break: clone
  &__phone-mail
    text-align: center
    margin-top: 1.32vw
    font-size: 1.46vw
    line-height: 1
    margin-bottom: 0
  &__phone,
  &__mail
    display: block
    color: $purple
    text-decoration: none
    &:hover
      color: $red
  &__phone
    margin-bottom: 10px
    text-decoration: underline
    text-decoration-style: dotted
    &_common
      color: $grey-text
.contacts
  &__adress
    color: $grey-text
    line-height: 2.47vw
    font-size: 1.46vw
    &-text
      margin: 0
      padding-top: 2.43vw
  &__social
    align-self: flex-end
    &-icon
      color: $grey-text
      &:hover
        color: $red
        transition: 0.3s ease-in-out
    &-icon .fa-facebook-f
      font-size: 1.6vw
      margin-bottom: 50px
      margin-left: 5px
    &-icon .fa-instagram
      font-size: 2.1vw

@media screen and (max-width: 720px)
  .header_contacts
    background-image: url("../css/img/contacts-bg-m.jpg")
  .content__contacts
    padding-bottom: 0

  .contact
    &__wrapper
      &_flex
        flex-direction: column
        background-color: $purple
        padding-top: getRelVWUnits(82, 720)
        margin-top: getRelVWUnits(32, 720)
    &__image
      width: 59%
      margin: auto
    &__name
      margin-top: 6.47vw
    &__span
      font-size: 4.011vw
      line-height: 6.36vw
      padding: 0.625vw 1.426vw 0.01vw

    &__phone-mail
      font-size: 4.011vw
      line-height: 2.9vw
      margin-top: 4vw
    &__mail_common
      color: #fdfbfb
      text-align: center
      font-size: 4.0343015214vw
      line-height: 6.1728907331vw
  .contacts
    &__adress
      &-text
        color: #fdfbfb
        text-align: center
        font-size: 4.0343015214vw
        line-height: 6.1728907331vw
    &__social
      display: flex
      flex-direction: column
      align-self: center
      margin-top: getRelVWUnits(70, 720)
      &-icon .fa-facebook-f
        font-size: 10.6vw
        margin-left: getRelVWUnits(20, 720)
        margin-bottom: getRelVWUnits(85, 720)
      &-icon .fa-instagram
        font-size: 14.1vw






