@-webkit-keyframes slideInLeft1
  from
    -webkit-transform: translate3d(-3vw, 0, 0)
    transform: translate3d(-3vw, 0, 0)
    visibility: visible

  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


@keyframes slideInLeft1
  from
    -webkit-transform: translate3d(-3vw, 0, 0)
    transform: translate3d(-3vw, 0, 0)
    visibility: visible

  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


.slideInLeft1
  -webkit-animation-name: slideInLeft1
  animation-name: slideInLeft1

@-webkit-keyframes slideInLeft2
  from
    -webkit-transform: translate3d(-6vw, 0, 0)
    transform: translate3d(-6vw, 0, 0)
    visibility: visible

  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


@keyframes slideInLeft2
  from
    -webkit-transform: translate3d(-6vw, 0, 0)
    transform: translate3d(-6vw, 0, 0)
    visibility: visible

  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


.slideInLeft2
  -webkit-animation-name: slideInLeft2
  animation-name: slideInLeft2

@-webkit-keyframes slideInLeft3
  from
    -webkit-transform: translate3d(-9vw, 0, 0)
    transform: translate3d(-9vw, 0, 0)
    visibility: visible

  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


@keyframes slideInLeft3
  from
    -webkit-transform: translate3d(-9vw, 0, 0)
    transform: translate3d(-9vw, 0, 0)
    visibility: visible

  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


.slideInLeft3
  -webkit-animation-name: slideInLeft3
  animation-name: slideInLeft3

@-webkit-keyframes slideInLeft4
  from
    -webkit-transform: translate3d(-12vw, 0, 0)
    transform: translate3d(-12vw, 0, 0)
    visibility: visible

  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


@keyframes slideInLeft4
  from
    -webkit-transform: translate3d(-12vw, 0, 0)
    transform: translate3d(-12vw, 0, 0)
    visibility: visible

  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


.slideInLeft4
  -webkit-animation-name: slideInLeft4
  animation-name: slideInLeft4

@-webkit-keyframes slideInRight1
  from
    -webkit-transform: translate3d(3vw, 0, 0)
    transform: translate3d(3vw, 0, 0)
    visibility: visible

  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


@keyframes slideInRight1
  from
    -webkit-transform: translate3d(3vw, 0, 0)
    transform: translate3d(3vw, 0, 0)
    visibility: visible

  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


.slideInRight1
  -webkit-animation-name: slideInRight1
  animation-name: slideInRight1

@-webkit-keyframes slideInRight2
  from
    -webkit-transform: translate3d(6vw, 0, 0)
    transform: translate3d(6vw, 0, 0)
    visibility: visible

  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


@keyframes slideInRight2
  from
    -webkit-transform: translate3d(6vw, 0, 0)
    transform: translate3d(6vw, 0, 0)
    visibility: visible

  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


.slideInRight2
  -webkit-animation-name: slideInRight2
  animation-name: slideInRight2

@-webkit-keyframes slideInRight3
  from
    -webkit-transform: translate3d(9vw, 0, 0)
    transform: translate3d(9vw, 0, 0)
    visibility: visible

  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


@keyframes slideInRight3
  from
    -webkit-transform: translate3d(9vw, 0, 0)
    transform: translate3d(9vw, 0, 0)
    visibility: visible

  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


.slideInRight3
  -webkit-animation-name: slideInRight3
  animation-name: slideInRight3

@-webkit-keyframes slideInRight4
  from
    -webkit-transform: translate3d(12vw, 0, 0)
    transform: translate3d(12vw, 0, 0)
    visibility: visible

  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


@keyframes slideInRight4
  from
    -webkit-transform: translate3d(12vw, 0, 0)
    transform: translate3d(12vw, 0, 0)
    visibility: visible

  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


.slideInRight4
  -webkit-animation-name: slideInRight4
  animation-name: slideInRight4

@media screen and (max-width: 1200px)
  @-webkit-keyframes slideInLeft1
    from
      -webkit-transform: translate3d(-2vw, 0, 0)
      transform: translate3d(-2vw, 0, 0)
      visibility: visible

    to
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

  @keyframes slideInLeft1
    from
      -webkit-transform: translate3d(-2vw, 0, 0)
      transform: translate3d(-2vw, 0, 0)
      visibility: visible

    to
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

  .slideInLeft1
    -webkit-animation-name: slideInLeft1
    animation-name: slideInLeft1
  @-webkit-keyframes slideInLeft2
    from
      -webkit-transform: translate3d(-4vw, 0, 0)
      transform: translate3d(-4vw, 0, 0)
      visibility: visible

    to
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

  @keyframes slideInLeft2
    from
      -webkit-transform: translate3d(-4vw, 0, 0)
      transform: translate3d(-4vw, 0, 0)
      visibility: visible

    to
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

  .slideInLeft2
    -webkit-animation-name: slideInLeft2
    animation-name: slideInLeft2
  @-webkit-keyframes slideInLeft3
    from
      -webkit-transform: translate3d(-6vw, 0, 0)
      transform: translate3d(-6vw, 0, 0)
      visibility: visible

    to
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

  @keyframes slideInLeft3
    from
      -webkit-transform: translate3d(-6vw, 0, 0)
      transform: translate3d(-6vw, 0, 0)
      visibility: visible

    to
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

  .slideInLeft3
    -webkit-animation-name: slideInLeft3
    animation-name: slideInLeft3
  @-webkit-keyframes slideInLeft4
    from
      -webkit-transform: translate3d(-6vw, 0, 0)
      transform: translate3d(-6vw, 0, 0)
      visibility: visible

    to
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

  @keyframes slideInLeft4
    from
      -webkit-transform: translate3d(-6vw, 0, 0)
      transform: translate3d(-6vw, 0, 0)
      visibility: visible

    to
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

  .slideInLeft4
    -webkit-animation-name: slideInLeft4
    animation-name: slideInLeft4
  @-webkit-keyframes slideInRight1
    from
      -webkit-transform: translate3d(2vw, 0, 0)
      transform: translate3d(2vw, 0, 0)
      visibility: visible

    to
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

  @keyframes slideInRight1
    from
      -webkit-transform: translate3d(2vw, 0, 0)
      transform: translate3d(2vw, 0, 0)
      visibility: visible

    to
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

  .slideInRight1
    -webkit-animation-name: slideInRight1
    animation-name: slideInRight1
  @-webkit-keyframes slideInRight2
    from
      -webkit-transform: translate3d(4vw, 0, 0)
      transform: translate3d(4vw, 0, 0)
      visibility: visible

    to
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

  @keyframes slideInRight2
    from
      -webkit-transform: translate3d(4vw, 0, 0)
      transform: translate3d(4vw, 0, 0)
      visibility: visible

    to
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

  .slideInRight2
    -webkit-animation-name: slideInRight2
    animation-name: slideInRight2
  @-webkit-keyframes slideInRight3
    from
      -webkit-transform: translate3d(6vw, 0, 0)
      transform: translate3d(6vw, 0, 0)
      visibility: visible

    to
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

  @keyframes slideInRight3
    from
      -webkit-transform: translate3d(6vw, 0, 0)
      transform: translate3d(6vw, 0, 0)
      visibility: visible

    to
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

  .slideInRight3
    -webkit-animation-name: slideInRight3
    animation-name: slideInRight3
  @-webkit-keyframes slideInRight4
    from
      -webkit-transform: translate3d(8vw, 0, 0)
      transform: translate3d(8vw, 0, 0)
      visibility: visible

    to
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

  @keyframes slideInRight4
    from
      -webkit-transform: translate3d(8vw, 0, 0)
      transform: translate3d(8vw, 0, 0)
      visibility: visible

    to
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

  .slideInRight4
    -webkit-animation-name: slideInRight4
    animation-name: slideInRight4