.row
  display: flex
  flex-wrap: wrap
  margin-left: -30px
  margin-right: -30px
  &_inner
    margin-left: 0
    margin-right: 0

@for $i from 1 through 12
  .lg-#{$i}
    width: percentage($i/12)


@media screen and (max-width: 992px)
  @for $m from 1 through 12
    .md-#{$m}
      width: percentage($m/12)


@media screen and (max-width: 720px)
  @for $k from 1 through 12
    .sm-#{$k}
      width: percentage($k/12)


