.header
  &_index
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100vh
    box-sizing: border-box
    background-image: url("../css/img/bg.jpg")
    background-size: cover
    background-position: center
    .header__decoration-dot
      left: 57vw

  &__social-wrapper
    display: flex
    flex-direction: column
    align-items: flex-end
    a:first-child
      margin-right: 5px
  &__social-icon
    color: $red
    margin-top: 50px
    &:hover
      text-shadow: $red 0 0 10px
      transition: 0.3s ease-in-out


