@media screen and (max-width: 1366px)
  html
    font-size: 15px

  .header
    &__menu
      &-link
        padding: 16px 13px

@media screen and (max-width: 1200px)

  html
    font-size: 13.5px

  .header
    &__head_h1
      font-size: 126px
    &__menu
      &-link
        padding: 17px 10px

@media screen and (max-width: 992px)
  html
    font-size: 12px
  .header
    &__menu
      &-link
        padding: 18px 8px

    &__decoration-dot
      right: 15vw

@media screen and (max-width: 880px)
  html
    font-size: 11px
  .header_index .header__decoration-dot
    left: 63vw
  .header_team .header__decoration-dot
    left: 66vw
  .header_portfolio .header__decoration-dot,
  .header_case .header__decoration-dot
    left: 69vw
  .header_clients .header__decoration-dot
    left: 72vw
  .header_contacts .header__decoration-dot
    left: 75vw


@media screen and (max-width: 720px)
  .container
    width: getRelVWUnits(620, 720)
  .container_fluid
    width: 100%
  .header
    padding-bottom: 0
    &_index
      background: $purple url("../css/img/bg-v.jpg") center
      background-size: cover
    &__head
      &_container
        margin-top: 0
        padding-top: 118vw
      &_h1
        top: auto
        bottom: getRelVWUnits(13, 720)
        font-size: getRelVWUnits(125, 720)
        line-height: getRelVWUnits(129, 720)
        margin-left: -17px
      &_bg
        position: absolute
        bottom: -(getRelVWUnits(48, 720))
        left: -63px
        width: getRelVWUnits(375, 720)
        height: getRelVWUnits(195, 720)


    &__menu
      display: none
      position: fixed
      box-sizing: border-box
      width: 100vw
      height: 100vh
      padding-bottom: 9vh
      z-index: 1
      background-color: $purple

      &-item
        display: block
        text-align: center
        box-sizing: border-box
        &_separator
          width: 19.58%
          height: 2px
          margin: 38px auto
          align-self: center
          background-color: $white
        &_contact
          display: block
          text-decoration: none
          color: $white
          font-size: 1.9rem
          padding: getRelVWUnits(18, 720) 0
      &-items
        display: flex
        flex-direction: column
        justify-content: space-around
        height: 100%
        padding-top: 22vh
        box-sizing: border-box
      &-link
        font-size: 2.4rem
        box-sizing: border-box
        padding: getRelVWUnits(18, 720) 0
      &-button
        display: none
        position: absolute
        top: 7.5vw
        left: getRelVWUnits(54, 720)
        z-index: 100
        width: 85px
        height: 85px
        border: 0
        background-color: $white
        border-radius: 50%
        text-align: -webkit-center
        box-shadow: 0 0 34px 17px #562e63
        outline: none
        &_close
          right: getRelVWUnits(54, 720)
          left: auto
        &_visible
          display: block
    &__button-bar
      background-color: $red
      width: 41px
      height: 6px
      display: block
      margin: 3px 0
      border-radius: 15px/6px
      &_close
        position: absolute
        width: 41px
        height: 10px
        top: 35px
        left: 22px
        border-radius: unset
        &:nth-child(1)
          transform: rotate(45deg)
        &:nth-child(2)
          transform: rotate(135deg)
    &__decoration-line
      position: absolute
      width: 100%
      top: calc(7.5vw + 42.5px)
    &__decoration-dot
      display: none
    &__social
      display: none

  .container_menu
    width: 100%
    margin: 0

  .content
    padding-top: getRelVWUnits(100, 720)
    &__text
      font-size: getRelVWUnits(29, 720)
      line-height: getRelVWUnits(46, 720)

@media screen and (min-width: 720px)
  .scrollfixed
    margin-left: 17px
@media screen and (min-width: 720px) and (orientation: portrait)
  .header
    &_index
      background: $purple url("../css/img/bg-v.jpg") center

@media screen and (max-width: 480px)
  .header
    &__menu
      &-button
        top: 7.5vw
        width: 65px
        height: 65px
      &-link
        font-size: 2rem
      &-items
        padding-top: 18vh
      &-item
        &_contact
          font-size: 1.5rem
        &_separator
          margin: 34.5px auto
    &__button-bar
      width: 33px
      height: 4px
      &_close
        position: absolute
        width: 35px
        height: 8px
        top: 27px
        left: 16px
    &__decoration-line
      top: calc(7.5vw + 32.5px)


@media screen and (max-width: 720px) and (orientation: landscape)
  .header
    &_index
      background: $purple url("../css/img/bg.jpg") center
      background-size: cover
  .header
    &__menu
      overflow-y: scroll
      &-items
        padding-top: 50vw
      &-button
      &-link
        font-size: 2rem
      &-item
        &_contact
          font-size: 1.5rem
