.header_portfolio
  background-image: url("../css/img/portfolio_bg.jpg")
  .header__decoration-dot
    left: 63vw

.portfolio__grid
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 40px
  &-block
    position: relative
    display: flex
    flex-direction: column
    justify-content: flex-end
    &_nested
      display: grid
      grid-gap: 40px
    &:after
      content: ''
      position: absolute
      width: 100%
      height: 100%
      background-color: rgba(46, 0, 62, 0.65)
      opacity: 0
    &:hover .portfolio__grid-text
      opacity: 1
      transition: 0.3s ease-out
      z-index: 1
    &:hover:after
      opacity: 1
      transition: 0.3s ease-out
  &-text
    position: absolute
    opacity: 0
    left: 1.041666666666667vw
    right: 0.8vw
    bottom: 0.7vw
    font-size: 1.458333333333333vw
    line-height: 35.61px
    text-transform: uppercase
    color: $purple
  &-span
    padding: 2px 4px 0 4px
    line-height: 2.84722vw
    box-decoration-break: clone
    background-color: $white
  &-img
    display: block
    width: 100%
    height: 100%
    object-fit: cover

@media screen and (max-width: 720px)
  .header_portfolio
    background-image: url("../css/img/portfolio-bg-m.jpg")

  .portfolio__grid
    display: flex
    flex-direction: column
    &-block
      height: 85.97vw
      margin: 5.14vw 0
      &_nested
        display: flex
        flex-direction: column

    &-text
      font-size: 4.0110650069vw
      line-height: 8.4135546335vw
      left: 6.8vw
      bottom: 5.7vw
      width: 85%

    &-img




