.header
  &_team
    background-image: url("../css/img/team_bg.jpg")
    .header__decoration-dot
      left: 60vw
.team
  &__members
    margin-top: 20px
  &__member
    position: relative
    box-sizing: border-box
    padding: 30px
    cursor: pointer
    &-img
      background-size: cover
      border-radius: 50%
      &_inner
        width: 50%
        border-radius: 4.8611vw 0 0 4.8611vw
        background-size: cover
      &:before
        content: ''
        display: block
        padding-top: 100%
    &-bio
      display: none
      width: 41vw
      height: 40.625vw
      position: absolute
      z-index: 100500
      background-color: $white
      border: 1px solid #d0d0d0
      border-radius: 4.8611vw
      top: 30px
      &_open
        display: flex
        &-left
          left: -98%
        &-right
          right: 0
    &-body
      width: 50%
      padding: 2.64vw 1.614vw
    &-close
      &:hover
        background-position-x: 100%
      float: right
      width: 28px
      height: 28px
      background-image: url('../css/img/times.png')
      cursor: pointer


    &-header
      color: $purple
      font-family: 'Circe Bold', Arial, Helvetica, sans-serif
      font-size: 2.569444444vw
      line-height: 3.227638889vw
      margin-top: 2.5vw
      margin-bottom: 1vw
    &-post
      font-size: 1.25vw
      font-weight: 400
      text-transform: uppercase
      line-height: 2.873125vw
      color: $white
      text-align: left
      background-color: #eb0047
      padding: 9px 6px 4px
      box-decoration-break: clone
    &-text
      margin-top: 1.144444444vw
      font-size: 1.1vw
      line-height: 1.258333333vw
      color: $grey-text

@media screen and (max-width: 720px)
  .header
    &_team
      background-color: $purple
      background-image: url("../css/img/team-bg-m.jpg")
  .team
    &__members
      margin-top: 60px
    &__member
      position: static
      padding: 0 30px
      &-img
        width: 70%
        margin: 0 auto
      &-bio
        display: block
        height: auto
        width: 100%
        position: static
        border: 0
        background-color: transparent
      &-body
        width: 100%
        text-align: center
        padding-top: getRelVWUnits(13, 720)
        padding-bottom: getRelVWUnits(13, 720)

      &-close
        display: none
      &-header
        font-size: getRelVWUnits(63, 720)
        line-height: 1
        text-align: center
        margin-bottom: getRelVWUnits(30, 720)
      &-post
        font-weight: 400
        text-transform: uppercase
        line-height: 2.873125vw
        text-align: left
        background-color: #eb0047
        font-size: 2.881051176vw
        padding: 1.798vw 9px 0.829875519vw
        box-decoration-break: clone
        -webkit-box-decoration-break: clone
      &-text
        font-size: getRelVWUnits(29, 720)
        line-height: getRelVWUnits(46, 720)
        margin-top: getRelVWUnits(40, 720)








