@font-face {
  font-family: "Circe Bold";
  src: url("../fonts/Circe-Bold.eot");
  src: local("Circe Bold"), url("../fonts/Circe-Bold.woff") format("woff"), url("../fonts/Circe-Bold.ttf") format("truetype"), url("../fonts/Circe-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circe Regular";
  src: url("../fonts/Circe-Regular.eot");
  src: local("Circe Regular"), url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.ttf") format("truetype"), url("../fonts/Circe-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
*::-moz-focus-inner,
a:active,
a:visited,
a:focus {
  border-style: none;
  outline-style: none;
  -moz-outline-style: none;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Circe Regular", Arial, Helvetica, sans-serif;
}

.container {
  width: 82.6388888889vw;
  margin: 0 auto;
}
.container_menu {
  margin: 0 0 0 auto;
}

.header {
  padding-bottom: 50px;
  background-color: #2e003e;
  background-size: cover;
  background-position: center;
}
.header__menu {
  padding-top: 32px;
}
.header__menu_open {
  display: block !important;
}
.header__menu-button {
  display: none;
}
.header__menu-items {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.header__menu-item {
  display: inline-block;
}
.header__menu-item:first-child a {
  padding-left: 0;
}
.header__menu-item_contacts {
  display: none;
}
.header__menu-link {
  display: block;
  padding: 15px 21px;
  color: #fdfcfc;
  font-size: 1.313rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
.header__menu-link_active {
  color: #eb0047;
}
.header__menu-link:hover {
  color: #eb0047;
  text-shadow: #eb0047 0 0 10px;
  transition: 0.3s ease-in;
}
.header__decoration-line {
  position: relative;
  height: 2px;
  background-color: #eb0047;
}
.header__decoration-dot {
  position: absolute;
  top: -10px;
  width: 22px;
  height: 22px;
  background-color: #eb0047;
  border-radius: 50%;
  box-shadow: 0 0 25px #eb0047;
}
.header__head_container {
  position: relative;
  margin-top: 193px;
}
.header__head_h1 {
  position: relative;
  bottom: 33px;
  font-family: "Circe Bold", Arial, Helvetica, sans-serif;
  font-size: 146px;
  line-height: 128px;
  color: #fdfbfb;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
.header__head_bg {
  position: absolute;
  bottom: 0;
  width: 542px;
  height: 114px;
  background-color: #eb0047;
  box-shadow: 0 0 25px #eb0047;
}

.content {
  padding-top: 55px;
  padding-bottom: 40px;
}
.content__text {
  color: #676666;
  font-size: 1.313rem;
  font-weight: 400;
  line-height: 2.226rem;
  padding-top: 0;
}

.header_index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  box-sizing: border-box;
  background-image: url("../css/img/bg.jpg");
  background-size: cover;
  background-position: center;
}
.header_index .header__decoration-dot {
  left: 57vw;
}
.header__social-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__social-wrapper a:first-child {
  margin-right: 5px;
}
.header__social-icon {
  color: #eb0047;
  margin-top: 50px;
}
.header__social-icon:hover {
  text-shadow: #eb0047 0 0 10px;
  transition: 0.3s ease-in-out;
}

.header_team {
  background-image: url("../css/img/team_bg.jpg");
}
.header_team .header__decoration-dot {
  left: 60vw;
}

.team__members {
  margin-top: 20px;
}
.team__member {
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  cursor: pointer;
}
.team__member-img {
  background-size: cover;
  border-radius: 50%;
}
.team__member-img_inner {
  width: 50%;
  border-radius: 4.8611vw 0 0 4.8611vw;
  background-size: cover;
}
.team__member-img:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.team__member-bio {
  display: none;
  width: 41vw;
  height: 40.625vw;
  position: absolute;
  z-index: 100500;
  background-color: #fdfbfb;
  border: 1px solid #d0d0d0;
  border-radius: 4.8611vw;
  top: 30px;
}
.team__member-bio_open {
  display: flex;
}
.team__member-bio_open-left {
  left: -98%;
}
.team__member-bio_open-right {
  right: 0;
}
.team__member-body {
  width: 50%;
  padding: 2.64vw 1.614vw;
}
.team__member-close {
  float: right;
  width: 28px;
  height: 28px;
  background-image: url("../css/img/times.png");
  cursor: pointer;
}
.team__member-close:hover {
  background-position-x: 100%;
}
.team__member-header {
  color: #2e003e;
  font-family: "Circe Bold", Arial, Helvetica, sans-serif;
  font-size: 2.569444444vw;
  line-height: 3.227638889vw;
  margin-top: 2.5vw;
  margin-bottom: 1vw;
}
.team__member-post {
  font-size: 1.25vw;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2.873125vw;
  color: #fdfbfb;
  text-align: left;
  background-color: #eb0047;
  padding: 9px 6px 4px;
  box-decoration-break: clone;
}
.team__member-text {
  margin-top: 1.144444444vw;
  font-size: 1.1vw;
  line-height: 1.258333333vw;
  color: #676666;
}

@media screen and (max-width: 720px) {
  .header_team {
    background-color: #2e003e;
    background-image: url("../css/img/team-bg-m.jpg");
  }

  .team__members {
    margin-top: 60px;
  }
  .team__member {
    position: static;
    padding: 0 30px;
  }
  .team__member-img {
    width: 70%;
    margin: 0 auto;
  }
  .team__member-bio {
    display: block;
    height: auto;
    width: 100%;
    position: static;
    border: 0;
    background-color: transparent;
  }
  .team__member-body {
    width: 100%;
    text-align: center;
    padding-top: 1.8055555556vw;
    padding-bottom: 1.8055555556vw;
  }
  .team__member-close {
    display: none;
  }
  .team__member-header {
    font-size: 8.75vw;
    line-height: 1;
    text-align: center;
    margin-bottom: 4.1666666667vw;
  }
  .team__member-post {
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2.873125vw;
    text-align: left;
    background-color: #eb0047;
    font-size: 2.881051176vw;
    padding: 1.798vw 9px 0.829875519vw;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }
  .team__member-text {
    font-size: 4.0277777778vw;
    line-height: 6.3888888889vw;
    margin-top: 5.5555555556vw;
  }
}
.header_portfolio {
  background-image: url("../css/img/portfolio_bg.jpg");
}
.header_portfolio .header__decoration-dot {
  left: 63vw;
}

.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}
.portfolio__grid-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.portfolio__grid-block_nested {
  display: grid;
  grid-gap: 40px;
}
.portfolio__grid-block:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 0, 62, 0.65);
  opacity: 0;
}
.portfolio__grid-block:hover .portfolio__grid-text {
  opacity: 1;
  transition: 0.3s ease-out;
  z-index: 1;
}
.portfolio__grid-block:hover:after {
  opacity: 1;
  transition: 0.3s ease-out;
}
.portfolio__grid-text {
  position: absolute;
  opacity: 0;
  left: 1.0416666667vw;
  right: 0.8vw;
  bottom: 0.7vw;
  font-size: 1.4583333333vw;
  line-height: 35.61px;
  text-transform: uppercase;
  color: #2e003e;
}
.portfolio__grid-span {
  padding: 2px 4px 0 4px;
  line-height: 2.84722vw;
  box-decoration-break: clone;
  background-color: #fdfbfb;
}
.portfolio__grid-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 720px) {
  .header_portfolio {
    background-image: url("../css/img/portfolio-bg-m.jpg");
  }

  .portfolio__grid {
    display: flex;
    flex-direction: column;
  }
  .portfolio__grid-block {
    height: 85.97vw;
    margin: 5.14vw 0;
  }
  .portfolio__grid-block_nested {
    display: flex;
    flex-direction: column;
  }
  .portfolio__grid-text {
    font-size: 4.0110650069vw;
    line-height: 8.4135546335vw;
    left: 6.8vw;
    bottom: 5.7vw;
    width: 85%;
  }
}
.header_clients {
  background-image: url("../css/img/clients_bg.jpg");
}
.header_clients .header__decoration-dot {
  left: 66vw;
}

.client__profiles {
  box-sizing: border-box;
}
.client__logo {
  height: 130px;
  cursor: pointer;
}
.client__logo_mobile {
  display: none;
}
.client__img {
  width: 65%;
  height: 65%;
  -o-object-fit: contain;
  object-fit: contain;
}
.client__profile {
  display: none;
}
.client__header {
  font-size: 3.9em;
  color: #2e003e;
  margin-top: 0;
}
.client__text {
  color: #676666;
  font-size: 21px;
  line-height: 28px;
  text-align: left;
}

.scroll-pane {
  width: 100%;
  max-height: 390px;
  overflow: auto;
}
.scroll-pane:active, .scroll-pane:focus {
  outline: none;
}
.scroll-pane:hover .jspVerticalBar {
  display: block;
}

/* * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * *
 *
 * * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 *
 * * may not operate correctly without them.
 *
 * */
.jspContainer {
  overflow: hidden;
  position: relative;
}

.jspPane {
  position: absolute;
}

.jspVerticalBar {
  position: absolute;
  display: none;
  top: 0;
  right: 20px;
  width: 5px;
  height: 100%;
}

.jspHorizontalBar {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: red;
}

.jspCap {
  display: none;
}

.jspHorizontalBar .jspCap {
  float: left;
}

.jspTrack {
  background: #dde;
  position: relative;
}

.jspDrag {
  background: #bbd;
  position: relative;
  top: 0;
  left: 0;
  cursor: default;
  border-radius: 8px;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}

.jspVerticalBar .jspArrow {
  height: 16px;
}

.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%;
}

.jspVerticalBar .jspArrow:focus {
  outline: none;
}

.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

@media screen and (max-width: 720px) {
  .content__clients {
    padding-bottom: 0;
  }

  .client__logos {
    display: none;
  }
  .client__logo_mobile {
    display: block;
    height: 15vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
  }
  .client__profile {
    display: block;
    padding: 7.639vw 7.222vw 9.027777vw;
  }
  .client__profile:nth-of-type(2n) {
    background-color: #2e003e;
  }
  .client__profile:nth-of-type(2n) h2, .client__profile:nth-of-type(2n) p {
    color: #fdfbfb;
  }
  .client__header {
    display: none;
  }
  .client__text {
    font-size: 4.011vw;
    line-height: 6.36vw;
  }

  .header_clients {
    background-image: url("../css/img/clients-bg-m.jpg");
  }
}
.header_contacts {
  background-image: url("../css/img/contacts_bg.jpg");
}
.header_contacts .header__decoration-dot {
  left: 69vw;
}

.contact__wrapper {
  padding: 30px;
  box-sizing: border-box;
}
.contact__wrapper_flex {
  display: flex;
}
.contact__image {
  background-size: cover;
  border-radius: 50%;
  width: 96%;
  margin: auto;
}
.contact__image:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.contact__name {
  margin: 3.47vw auto 0 auto;
  text-align: center;
}
.contact__span {
  font-size: 1.25vw;
  font-weight: 400;
  color: #fdfbfb;
  text-transform: uppercase;
  line-height: 2.873125vw;
  text-align: left;
  background-color: #eb0047;
  padding: 0.625vw 0.426vw 0.28vw;
  box-decoration-break: clone;
}
.contact__phone-mail {
  text-align: center;
  margin-top: 1.32vw;
  font-size: 1.46vw;
  line-height: 1;
  margin-bottom: 0;
}
.contact__phone, .contact__mail {
  display: block;
  color: #2e003e;
  text-decoration: none;
}
.contact__phone:hover, .contact__mail:hover {
  color: #eb0047;
}
.contact__phone {
  margin-bottom: 10px;
  text-decoration: underline;
  text-decoration-style: dotted;
}
.contact__phone_common {
  color: #676666;
}

.contacts__adress {
  color: #676666;
  line-height: 2.47vw;
  font-size: 1.46vw;
}
.contacts__adress-text {
  margin: 0;
  padding-top: 2.43vw;
}
.contacts__social {
  align-self: flex-end;
}
.contacts__social-icon {
  color: #676666;
}
.contacts__social-icon:hover {
  color: #eb0047;
  transition: 0.3s ease-in-out;
}
.contacts__social-icon .fa-facebook-f {
  font-size: 1.6vw;
  margin-bottom: 50px;
  margin-left: 5px;
}
.contacts__social-icon .fa-instagram {
  font-size: 2.1vw;
}

@media screen and (max-width: 720px) {
  .header_contacts {
    background-image: url("../css/img/contacts-bg-m.jpg");
  }

  .content__contacts {
    padding-bottom: 0;
  }

  .contact__wrapper_flex {
    flex-direction: column;
    background-color: #2e003e;
    padding-top: 11.3888888889vw;
    margin-top: 4.4444444444vw;
  }
  .contact__image {
    width: 59%;
    margin: auto;
  }
  .contact__name {
    margin-top: 6.47vw;
  }
  .contact__span {
    font-size: 4.011vw;
    line-height: 6.36vw;
    padding: 0.625vw 1.426vw 0.01vw;
  }
  .contact__phone-mail {
    font-size: 4.011vw;
    line-height: 2.9vw;
    margin-top: 4vw;
  }
  .contact__mail_common {
    color: #fdfbfb;
    text-align: center;
    font-size: 4.0343015214vw;
    line-height: 6.1728907331vw;
  }

  .contacts__adress-text {
    color: #fdfbfb;
    text-align: center;
    font-size: 4.0343015214vw;
    line-height: 6.1728907331vw;
  }
  .contacts__social {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 9.7222222222vw;
  }
  .contacts__social-icon .fa-facebook-f {
    font-size: 10.6vw;
    margin-left: 2.7777777778vw;
    margin-bottom: 11.8055555556vw;
  }
  .contacts__social-icon .fa-instagram {
    font-size: 14.1vw;
  }
}
.header_case {
  background-image: url("../css/img/case_bg.jpg");
}
.header_case .header__decoration-dot {
  left: 63vw;
}

.slick__gallery {
  margin-top: 20px;
  margin-left: -15px;
  margin-right: -15px;
}
.slick__img {
  object-fit: cover;
  width: 100%;
}
.slick__pic {
  padding-left: 15px;
  padding-right: 15px;
}
.slick__arrow {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  padding-left: 25px;
  padding-right: 25px;
  height: 100%;
  z-index: 100500;
  text-decoration: none;
}
.slick__arrow_left {
  left: -52px;
}
.slick__arrow_right {
  right: -52px;
}
.slick__arrow:hover .slick__icon {
  color: #eb0047;
  transition: 0.3s ease-in-out;
}
.slick__icon {
  display: block;
  font-size: 3.1em;
  color: #676666;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

@media screen and (max-width: 720px) {
  .header_case {
    background-image: url("../css/img/case-bg-m.jpg");
  }

  .slick__gallery {
    margin: 0;
  }
  .slick__pic {
    padding: 0 0 60px;
  }
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@-webkit-keyframes slideInLeft1 {
  from {
    -webkit-transform: translate3d(-3vw, 0, 0);
    transform: translate3d(-3vw, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft1 {
  from {
    -webkit-transform: translate3d(-3vw, 0, 0);
    transform: translate3d(-3vw, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInLeft1 {
  -webkit-animation-name: slideInLeft1;
  animation-name: slideInLeft1;
}

@-webkit-keyframes slideInLeft2 {
  from {
    -webkit-transform: translate3d(-6vw, 0, 0);
    transform: translate3d(-6vw, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft2 {
  from {
    -webkit-transform: translate3d(-6vw, 0, 0);
    transform: translate3d(-6vw, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInLeft2 {
  -webkit-animation-name: slideInLeft2;
  animation-name: slideInLeft2;
}

@-webkit-keyframes slideInLeft3 {
  from {
    -webkit-transform: translate3d(-9vw, 0, 0);
    transform: translate3d(-9vw, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft3 {
  from {
    -webkit-transform: translate3d(-9vw, 0, 0);
    transform: translate3d(-9vw, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInLeft3 {
  -webkit-animation-name: slideInLeft3;
  animation-name: slideInLeft3;
}

@-webkit-keyframes slideInLeft4 {
  from {
    -webkit-transform: translate3d(-12vw, 0, 0);
    transform: translate3d(-12vw, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft4 {
  from {
    -webkit-transform: translate3d(-12vw, 0, 0);
    transform: translate3d(-12vw, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInLeft4 {
  -webkit-animation-name: slideInLeft4;
  animation-name: slideInLeft4;
}

@-webkit-keyframes slideInRight1 {
  from {
    -webkit-transform: translate3d(3vw, 0, 0);
    transform: translate3d(3vw, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight1 {
  from {
    -webkit-transform: translate3d(3vw, 0, 0);
    transform: translate3d(3vw, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInRight1 {
  -webkit-animation-name: slideInRight1;
  animation-name: slideInRight1;
}

@-webkit-keyframes slideInRight2 {
  from {
    -webkit-transform: translate3d(6vw, 0, 0);
    transform: translate3d(6vw, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight2 {
  from {
    -webkit-transform: translate3d(6vw, 0, 0);
    transform: translate3d(6vw, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInRight2 {
  -webkit-animation-name: slideInRight2;
  animation-name: slideInRight2;
}

@-webkit-keyframes slideInRight3 {
  from {
    -webkit-transform: translate3d(9vw, 0, 0);
    transform: translate3d(9vw, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight3 {
  from {
    -webkit-transform: translate3d(9vw, 0, 0);
    transform: translate3d(9vw, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInRight3 {
  -webkit-animation-name: slideInRight3;
  animation-name: slideInRight3;
}

@-webkit-keyframes slideInRight4 {
  from {
    -webkit-transform: translate3d(12vw, 0, 0);
    transform: translate3d(12vw, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight4 {
  from {
    -webkit-transform: translate3d(12vw, 0, 0);
    transform: translate3d(12vw, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInRight4 {
  -webkit-animation-name: slideInRight4;
  animation-name: slideInRight4;
}

@media screen and (max-width: 1200px) {
  @-webkit-keyframes slideInLeft1 {
    from {
      -webkit-transform: translate3d(-2vw, 0, 0);
      transform: translate3d(-2vw, 0, 0);
      visibility: visible;
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes slideInLeft1 {
    from {
      -webkit-transform: translate3d(-2vw, 0, 0);
      transform: translate3d(-2vw, 0, 0);
      visibility: visible;
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .slideInLeft1 {
    -webkit-animation-name: slideInLeft1;
    animation-name: slideInLeft1;
  }

  @-webkit-keyframes slideInLeft2 {
    from {
      -webkit-transform: translate3d(-4vw, 0, 0);
      transform: translate3d(-4vw, 0, 0);
      visibility: visible;
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes slideInLeft2 {
    from {
      -webkit-transform: translate3d(-4vw, 0, 0);
      transform: translate3d(-4vw, 0, 0);
      visibility: visible;
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .slideInLeft2 {
    -webkit-animation-name: slideInLeft2;
    animation-name: slideInLeft2;
  }

  @-webkit-keyframes slideInLeft3 {
    from {
      -webkit-transform: translate3d(-6vw, 0, 0);
      transform: translate3d(-6vw, 0, 0);
      visibility: visible;
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes slideInLeft3 {
    from {
      -webkit-transform: translate3d(-6vw, 0, 0);
      transform: translate3d(-6vw, 0, 0);
      visibility: visible;
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .slideInLeft3 {
    -webkit-animation-name: slideInLeft3;
    animation-name: slideInLeft3;
  }

  @-webkit-keyframes slideInLeft4 {
    from {
      -webkit-transform: translate3d(-6vw, 0, 0);
      transform: translate3d(-6vw, 0, 0);
      visibility: visible;
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes slideInLeft4 {
    from {
      -webkit-transform: translate3d(-6vw, 0, 0);
      transform: translate3d(-6vw, 0, 0);
      visibility: visible;
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .slideInLeft4 {
    -webkit-animation-name: slideInLeft4;
    animation-name: slideInLeft4;
  }

  @-webkit-keyframes slideInRight1 {
    from {
      -webkit-transform: translate3d(2vw, 0, 0);
      transform: translate3d(2vw, 0, 0);
      visibility: visible;
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes slideInRight1 {
    from {
      -webkit-transform: translate3d(2vw, 0, 0);
      transform: translate3d(2vw, 0, 0);
      visibility: visible;
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .slideInRight1 {
    -webkit-animation-name: slideInRight1;
    animation-name: slideInRight1;
  }

  @-webkit-keyframes slideInRight2 {
    from {
      -webkit-transform: translate3d(4vw, 0, 0);
      transform: translate3d(4vw, 0, 0);
      visibility: visible;
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes slideInRight2 {
    from {
      -webkit-transform: translate3d(4vw, 0, 0);
      transform: translate3d(4vw, 0, 0);
      visibility: visible;
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .slideInRight2 {
    -webkit-animation-name: slideInRight2;
    animation-name: slideInRight2;
  }

  @-webkit-keyframes slideInRight3 {
    from {
      -webkit-transform: translate3d(6vw, 0, 0);
      transform: translate3d(6vw, 0, 0);
      visibility: visible;
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes slideInRight3 {
    from {
      -webkit-transform: translate3d(6vw, 0, 0);
      transform: translate3d(6vw, 0, 0);
      visibility: visible;
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .slideInRight3 {
    -webkit-animation-name: slideInRight3;
    animation-name: slideInRight3;
  }

  @-webkit-keyframes slideInRight4 {
    from {
      -webkit-transform: translate3d(8vw, 0, 0);
      transform: translate3d(8vw, 0, 0);
      visibility: visible;
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes slideInRight4 {
    from {
      -webkit-transform: translate3d(8vw, 0, 0);
      transform: translate3d(8vw, 0, 0);
      visibility: visible;
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .slideInRight4 {
    -webkit-animation-name: slideInRight4;
    animation-name: slideInRight4;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-right: -30px;
}
.row_inner {
  margin-left: 0;
  margin-right: 0;
}

.lg-1 {
  width: 8.3333333333%;
}

.lg-2 {
  width: 16.6666666667%;
}

.lg-3 {
  width: 25%;
}

.lg-4 {
  width: 33.3333333333%;
}

.lg-5 {
  width: 41.6666666667%;
}

.lg-6 {
  width: 50%;
}

.lg-7 {
  width: 58.3333333333%;
}

.lg-8 {
  width: 66.6666666667%;
}

.lg-9 {
  width: 75%;
}

.lg-10 {
  width: 83.3333333333%;
}

.lg-11 {
  width: 91.6666666667%;
}

.lg-12 {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .md-1 {
    width: 8.3333333333%;
  }

  .md-2 {
    width: 16.6666666667%;
  }

  .md-3 {
    width: 25%;
  }

  .md-4 {
    width: 33.3333333333%;
  }

  .md-5 {
    width: 41.6666666667%;
  }

  .md-6 {
    width: 50%;
  }

  .md-7 {
    width: 58.3333333333%;
  }

  .md-8 {
    width: 66.6666666667%;
  }

  .md-9 {
    width: 75%;
  }

  .md-10 {
    width: 83.3333333333%;
  }

  .md-11 {
    width: 91.6666666667%;
  }

  .md-12 {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .sm-1 {
    width: 8.3333333333%;
  }

  .sm-2 {
    width: 16.6666666667%;
  }

  .sm-3 {
    width: 25%;
  }

  .sm-4 {
    width: 33.3333333333%;
  }

  .sm-5 {
    width: 41.6666666667%;
  }

  .sm-6 {
    width: 50%;
  }

  .sm-7 {
    width: 58.3333333333%;
  }

  .sm-8 {
    width: 66.6666666667%;
  }

  .sm-9 {
    width: 75%;
  }

  .sm-10 {
    width: 83.3333333333%;
  }

  .sm-11 {
    width: 91.6666666667%;
  }

  .sm-12 {
    width: 100%;
  }
}
@media screen and (max-width: 1366px) {
  html {
    font-size: 15px;
  }

  .header__menu-link {
    padding: 16px 13px;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 13.5px;
  }

  .header__head_h1 {
    font-size: 126px;
  }
  .header__menu-link {
    padding: 17px 10px;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 12px;
  }

  .header__menu-link {
    padding: 18px 8px;
  }
  .header__decoration-dot {
    right: 15vw;
  }
}
@media screen and (max-width: 880px) {
  html {
    font-size: 11px;
  }

  .header_index .header__decoration-dot {
    left: 63vw;
  }

  .header_team .header__decoration-dot {
    left: 66vw;
  }

  .header_portfolio .header__decoration-dot,
.header_case .header__decoration-dot {
    left: 69vw;
  }

  .header_clients .header__decoration-dot {
    left: 72vw;
  }

  .header_contacts .header__decoration-dot {
    left: 75vw;
  }
}
@media screen and (max-width: 720px) {
  .container {
    width: 86.1111111111vw;
  }

  .container_fluid {
    width: 100%;
  }

  .header {
    padding-bottom: 0;
  }
  .header_index {
    background: #2e003e url("../css/img/bg-v.jpg") center;
    background-size: cover;
  }
  .header__head_container {
    margin-top: 0;
    padding-top: 118vw;
  }
  .header__head_h1 {
    top: auto;
    bottom: 1.8055555556vw;
    font-size: 17.3611111111vw;
    line-height: 17.9166666667vw;
    margin-left: -17px;
  }
  .header__head_bg {
    position: absolute;
    bottom: -6.6666666667vw;
    left: -63px;
    width: 52.0833333333vw;
    height: 27.0833333333vw;
  }
  .header__menu {
    display: none;
    position: fixed;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding-bottom: 9vh;
    z-index: 1;
    background-color: #2e003e;
  }
  .header__menu-item {
    display: block;
    text-align: center;
    box-sizing: border-box;
  }
  .header__menu-item_separator {
    width: 19.58%;
    height: 2px;
    margin: 38px auto;
    align-self: center;
    background-color: #fdfbfb;
  }
  .header__menu-item_contact {
    display: block;
    text-decoration: none;
    color: #fdfbfb;
    font-size: 1.9rem;
    padding: 2.5vw 0;
  }
  .header__menu-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-top: 22vh;
    box-sizing: border-box;
  }
  .header__menu-link {
    font-size: 2.4rem;
    box-sizing: border-box;
    padding: 2.5vw 0;
  }
  .header__menu-button {
    display: none;
    position: absolute;
    top: 7.5vw;
    left: 7.5vw;
    z-index: 100;
    width: 85px;
    height: 85px;
    border: 0;
    background-color: #fdfbfb;
    border-radius: 50%;
    text-align: -webkit-center;
    box-shadow: 0 0 34px 17px #562e63;
    outline: none;
  }
  .header__menu-button_close {
    right: 7.5vw;
    left: auto;
  }
  .header__menu-button_visible {
    display: block;
  }
  .header__button-bar {
    background-color: #eb0047;
    width: 41px;
    height: 6px;
    display: block;
    margin: 3px 0;
    border-radius: 15px/6px;
  }
  .header__button-bar_close {
    position: absolute;
    width: 41px;
    height: 10px;
    top: 35px;
    left: 22px;
    border-radius: unset;
  }
  .header__button-bar_close:nth-child(1) {
    transform: rotate(45deg);
  }
  .header__button-bar_close:nth-child(2) {
    transform: rotate(135deg);
  }
  .header__decoration-line {
    position: absolute;
    width: 100%;
    top: calc(7.5vw + 42.5px);
  }
  .header__decoration-dot {
    display: none;
  }
  .header__social {
    display: none;
  }

  .container_menu {
    width: 100%;
    margin: 0;
  }

  .content {
    padding-top: 13.8888888889vw;
  }
  .content__text {
    font-size: 4.0277777778vw;
    line-height: 6.3888888889vw;
  }
}
@media screen and (min-width: 720px) {
  .scrollfixed {
    margin-left: 17px;
  }
}
@media screen and (min-width: 720px) and (orientation: portrait) {
  .header_index {
    background: #2e003e url("../css/img/bg-v.jpg") center;
  }
}
@media screen and (max-width: 480px) {
  .header__menu-button {
    top: 7.5vw;
    width: 65px;
    height: 65px;
  }
  .header__menu-link {
    font-size: 2rem;
  }
  .header__menu-items {
    padding-top: 18vh;
  }
  .header__menu-item_contact {
    font-size: 1.5rem;
  }
  .header__menu-item_separator {
    margin: 34.5px auto;
  }
  .header__button-bar {
    width: 33px;
    height: 4px;
  }
  .header__button-bar_close {
    position: absolute;
    width: 35px;
    height: 8px;
    top: 27px;
    left: 16px;
  }
  .header__decoration-line {
    top: calc(7.5vw + 32.5px);
  }
}
@media screen and (max-width: 720px) and (orientation: landscape) {
  .header_index {
    background: #2e003e url("../css/img/bg.jpg") center;
    background-size: cover;
  }

  .header__menu {
    overflow-y: scroll;
  }
  .header__menu-items {
    padding-top: 50vw;
  }
  .header__menu-link {
    font-size: 2rem;
  }
  .header__menu-item_contact {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
