$red: #eb0047
$white: #fdfbfb
$grey-text: #676666
$grey-light: #d0d0d0
$purple: #2e003e
$purple-lighter: #39038b
$grid-width: 5.9%
$grid-gap: 2.6388%
$width: 1440px

@function getRelVWUnits($pxUnit, $viewport)
  @return $pxUnit / $viewport * 100vw

@font-face
  font-family: 'Circe Bold'
  src: url('../fonts/Circe-Bold.eot')
  src: local('Circe Bold'), url('../fonts/Circe-Bold.woff') format('woff'), url('../fonts/Circe-Bold.ttf') format('truetype'), url('../fonts/Circe-Bold.svg') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Circe Regular'
  src: url('../fonts/Circe-Regular.eot')
  src: local('Circe Regular'), url('../fonts/Circe-Regular.woff') format('woff'), url('../fonts/Circe-Regular.ttf') format('truetype'), url('../fonts/Circe-Regular.svg') format('svg')
  font-weight: normal
  font-style: normal

*::-moz-focus-inner,
a:active,
a:visited,
a:focus
  border-style: none
  outline-style: none
  -moz-outline-style: none
html, body
  margin: 0
  padding: 0
html
  font-size: 16px
  //overflow-y: scroll
body
  font-family: 'Circe Regular', Arial, Helvetica, sans-serif

.container
  width: getRelVWUnits(1190, 1440)
  margin: 0 auto
  &_menu
    margin: 0 0 0 auto

.header
  padding-bottom: 50px
  background-color: $purple
  background-size: cover
  background-position: center
  &__menu
    padding-top: 32px
    &_open
      display: block!important
    &-button
      display: none
    &-items
      list-style: none
      padding-left: 0
      margin: 0
    &-item
      display: inline-block
      &:first-child a
        padding-left: 0
      &_contacts
        display: none
    &-link
      display: block
      padding: 15px 21px
      color: #fdfcfc
      font-size: 1.313rem
      font-weight: 400
      text-transform: uppercase
      text-decoration: none
      &_active
        color: $red
      &:hover
        color: $red
        text-shadow: $red 0 0 10px
        transition: 0.3s ease-in

  &__decoration-line
    position: relative
    height: 2px
    background-color: $red
  &__decoration-dot
    position: absolute
    top: -10px
    width: 22px
    height: 22px
    background-color: $red
    border-radius: 50%
    box-shadow: 0 0 25px $red

  &__head
    &_container
      position: relative
      margin-top: 193px
    &_h1
      position: relative
      bottom: 33px
      font-family: 'Circe Bold', Arial, Helvetica, sans-serif
      font-size: 146px
      line-height: 128px
      color: $white
      margin-left: 20px
      margin-top: 0
      margin-bottom: 0
    &_bg
      position: absolute
      bottom: 0
      width: 542px
      height: 114px
      background-color: $red
      box-shadow: 0 0 25px $red

.content
  padding-top: 55px
  padding-bottom: 40px
  &__text
    color: $grey-text
    font-size: 1.313rem
    font-weight: 400
    line-height: 2.226rem
    padding-top: 0

@import "index"
@import "team"
@import "portfolio"
@import "clients"
@import "contacts"
@import "case"
@import "slick"
@import "decor_animate"
@import "grid"
@import "media-queries"



